<div class="column">
	<nav class="panel">
		<p class="panel-heading">Users</p>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
          <%= image_tag "avatar.svg", alt: "user_defect", class: "avatar-img"%>
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>John Smith</strong>
						<small>@johnsmith</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
          <%= image_tag "avatar.svg", alt: "user_defect", class: "avatar-img"%>
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>John Smith</strong>
						<small>@johnsmith</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
          <%= image_tag "avatar.svg", alt: "user_defect", class: "avatar-img"%>
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>John Smith</strong>
						<small>@johnsmith</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	</nav>
</div>