/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bulma';
.nav-brand .title {
  color: white;
}

.image {
  border-radius: 50%;
    img{
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
}



.notification:not(:last:child) {
 margin-bottom: 0;
}

// .control {
//  position: relative;
//  overflow: hidden;
//    input[type=file] {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     opacity: 0;
//     cursor: pointer;
//     }
// }

// .btn--browse {
//   background-color: white;
//   text-decoration: none;
//   cursor: pointer;
//   height: 35px;
//   width: 93px;
//   left: 10px;
//   top: 10px;
//   border-radius: 100px;
//   padding: 8px, 16px, 8px, 16px;
// }

// .border--btn{
//   background-color: white;
//   border-color: #dbdbdb;
//   border-radius: 4px;
//   color: #363636;
// }

 abbr[title="required"] {
  display: none;
}